.toomas {
float:right
}

.hello{
    margin-top:80px;
}

.btn-danger {
    float:right;
}

.name {
    font-weight: bold; 
    float:left;  
}

.occupation {
    font-weight: normal;
}

.tribe {
    font-weight:thin;
}


