.app-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 2rem;
  }
  
  table {
    border-collapse: collapse;
    width: 95%;
    margin-left:40px
  }
  
  .table2{
    overflow-x: auto;
  }
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    background-color: rgb(32, 139, 82);
  }
  
  td {
    background-color: dark;
   
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 16px;
  }
  
.whitey {
  color:white;
}


.idr{
  margin-left:40px;
}

.idr2{
  margin-left:40px;
  width: 7%;
}

.suc1{
  margin-left:110px;
}

tr.table {
  color:white;
}

table.table{
  color:white;
}